{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-3">Hello, junior Dev!</h1>
        <p class="lead">Find popular Skills to help you get the job you want.</p>
        <hr class="my-2">
        <p>Buy some skill help you to find the right skill you need for your next interview.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Buy Some</a>
        </p>
    </div>
{% endblock %}
